body{
  background-color: #353535;
  width: 700px;
}

h1 {
  text-align: center;
  font-family: Bitter;
  color: #a9ff00;
}

@font-face {
  font-family: Bitter;
  src: url(fonts/Bitter-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: Fixedsys;
  src: url(fonts/fixedsys.ttf);
}

.settings {
  background-color: black;
  padding: 1%;
}

#to {
  margin-left: 20%;
  float: left;
}

#from {
  margin-left: 60%;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  color: #a9ff00;
  font-family: Roboto;
  font-size: 100%;
  text-align: center;
  width: 23%;
  border: 2px inset #cccccc;
  border-radius: 10px;
  padding: 1%;
  background-color: #303030;
  cursor: pointer;
}

.btn:hover {
  color: #00a9ff;
  font-family: Roboto;
  font-size: 100%;
  border: 2px inset #cccccc;
  border-radius: 10px;
  padding: 1%;
  background-color: #505050;
  cursor: pointer;
}

.cnvContainer {
  text-align: center;
}

#label {
  display: inline-block;
  font-family: Bitter;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#fileName {
  display: inline-block;
  text-align: center;
  width: 23%;
  font-family: Bitter;
  color: #a9ff00;
  border: 2px solid #cccccc;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #404040;
  padding: 1%;
  margin-right: 10%;
  cursor: text;
}

textarea {
  margin-top: 2%;
  width: 90%;
  padding: .25%;
  font-family: fixedsys;
  font-size: 100%;
  background-color: black;
  border-color: #cccccc;
  color: #a9ff00;
}
