body{
  background-color: #606060;
}

.settings {
  background-color: red;
  padding:1%;
}

#to {
  margin-left: 20%;
  float: left;
}

#from {
  margin-left: 60%;
  margin-right: 20%;
}

.btn {
  padding: 1%;
  cursor: pointer;
}
